<table border="3">
  <br>
  <tr>
    <span>{{ title }} app is running!</span>

    <br/>

    variable1 = {{variable1}}

    <br>

    variable2 = {{variable2}}

    <br>

    <!-- variable3 = {{variable3 = variable1 + variable2}} LK - THIS WILL FAIL LEADING,  Bindings cannot contain assignments -->

    variable3 = {{variable1 + variable2}}
    <br>

    <!-- this is calculated in methog {{ getSum(); }} LK - this will fail, leading - Binding expression cannot contain chained expression at the end of the expression  -->

    this is calculated in method {{getSum()}}

    <br>
    this is calculated returned string in method {{ getSum2() }}

    <br>
    {{variable1}},variable2
    <br>

    <!-- <div [onmouseover]="getSum2"> on mouse hover property binding</div> LK -> Can't bind to 'onmouseover' since it isn't a known property of 'div' -->

    <div [style]="getStyle()"> [style] on mouse hover property binding.</div>

    <!-- <div [style]="color: darkviolet"> on mouse hover property binding</div> LK this is invalid, because in property binding, anything in
        double quotes must be an ts extression - variable or method. Error you would get is Error: Quotes are not supported for evaluation! and you MUST restart ng serve
     -->

    <div>
      <p [ngClass]="classes">
        Property binding.
      </p>
    </div>

    <table border="2"> <!--see this border property and the BELOW one-->
      <tr>
        <app-heroes></app-heroes>
      </tr>
    </table>

    <br>
    <table [border]="getSum()"> <!--see this border property and the ABOVE one-->
      <data-sharing (fromChildToParentEvent)="printMessageFromChild($event)" [fromParent2]='variable2'
                    [fromParent]='giveItToChild()'>

      </data-sharing>
    </table>

    {{fromParentThoughEvent}}


  </tr>
  <br>
</table>
